---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

import Date from "./Date.astro";

interface Props {
  id: string;
}

const { id } = Astro.props;
const post = await getEntry("blog", id);
---

<article class="my-5">
  {
    post.data.heroImage ? (
      <a href={`/blog/${post.id}/`} title={post.data.title} class="prose prose-zinc dark:prose-invert">
        {post.data.heroImage && (
          <div class="relative">
            <Image
              class="rounded-md relative"
              src={post.data.heroImage}
              alt={post.data.title}
              height={post.data.heroImage.height}
              width="1024"
            />
            <div class="absolute rounded-lg bottom-0 left-0 p-3 m-3 prose prose-zinc dark:prose-invert bg-zinc-200 dark:bg-zinc-800">
              <Date date={post.data.date} />
              <h1 class="font-bold text-3xl -mb-1" set:html={post.data.title} />
            </div>
          </div>
        )}
      </a>
    ) : (
      <header class="prose prose-zinc dark:prose-invert">
        <a href={`/blog/${post.id}/`} title={post.data.title}>
          <h1 class="font-bold text-3xl mb-5" set:html={post.data.title} />
          <Date date={post.data.date} />
        </a>
      </header>
    )
  }
</article>
