---
import { getImage, Image } from "astro:assets";

import AlsoLike from "./AlsoLike.astro";
import Date from "./Date.astro";
import Tag from "./Tags.astro";
import HeroImage from './BlogPostHeroImage.astro';

const { title, date, tags, slug, heroImage, unsplash, unsplashURL, description } = Astro.props;

const optimizedImage = await getImage({src: image})

let schema = JSON.stringify({
  "@context": "https://schema.org/",
  "@type": "BlogPosting",
  "headline": title,
  "author": {
    "@type": "Person",
    "name": "Josh Finnie"
  },
  "datePublished": date,
  "dateCreated": date,
  "description": description,
  "url": `https://www.joshfinnie.com/${slug}`,
  "inLanguage ": "en-US",
  "image": `https://www.joshfinnie.com${optimizedImage.src}`,
  "keywords": tags,
});
---

<article>
  <header>
    <HeroImage title={title} heroImage={heroImage} unsplashName={unsplash} unsplashUrl={unsplashURL} />
    <div id="main-content" class="flex flex-col items-center mb-10 max-w-none prose dark:prose-invert">
      <h1 class="font-bold text-4xl mb-5 mt-5" set:html={title}></h1>
      <Date {date} />
      <Tag {tags} />
    </div>
  </header>
  <main class="prose dark:prose-invert max-w-none">
    <slot />
  </main>
  <AlsoLike {tags} {slug} />
  <script type="application/ld+json" set:html={schema}></script>
</article>
