---
import { getImage } from "astro:assets";
import { getEntry } from "astro:content";

import AlsoLike from "./AlsoLike.astro";
import Date from "./Date.astro";
import Tag from "./Tags.astro";
import HeroImage from "./BlogPostHeroImage.astro";

interface Props {
  slug: string;
}

const { slug } = Astro.props;
const post = await getEntry("blog", slug);

var imageURL = "";
if (post.data.heroImage) {
  const optimizedImage = await getImage({ src: post.data.heroImage });
  imageURL = `https://www.joshfinnie.com${optimizedImage.src}`;
}

let schema = JSON.stringify({
  "@context": "https://schema.org/",
  "@type": "BlogPosting",
  headline: post.data.title,
  author: {
    "@type": "Person",
    name: "Josh Finnie",
  },
  datePublished: post.data.date,
  dateCreated: post.data.date,
  description: post.data.description,
  url: `https://www.joshfinnie.com/${post.slug}`,
  "inLanguage ": "en-US",
  image: imageURL,
  keywords: post.data.tags,
});
---

<article>
  <header>
    <HeroImage slug={slug} />
    <div id="main-content" class="flex flex-col items-center mb-10 max-w-none prose prose-zinc dark:prose-invert">
      <h1 class="font-bold text-4xl mb-5 mt-5" set:html={post.data.title} />
      <Date date={post.data.date} />
      <Tag tags={post.data.tags} />
    </div>
  </header>
  <main class="prose dark:prose-invert prose-zinc max-w-none">
    <slot />
  </main>
  <AlsoLike tags={post.data.tags} slug={slug} />
  <script type="application/ld+json" set:html={schema} is:inline />
</article>
