---
import { Image } from "astro:assets";

const { title, heroImage, summary, technologies } = Astro.props;
---

<h1 class="font-bold text-3xl mb-10 mt-5 prose prose-zinc dark:prose-invert">{title}</h1>
<hr class="my-2" />
{heroImage && <Image src={heroImage} alt={title} width="1024" class="-mb-1" />}
<p class="prose prose-zinc dark:prose-invert max-w-none">{summary}</p>
<div class="mb-5 flex gap-5 justify-center items-center bg-zinc-200 text-zinc-800 rounded-lg">
  <span class="font-bold">Technologies Used:</span>
  {
    technologies.map((tech: string) => (
      <Image
        src={`/assets/icons/${tech}.png`}
        height="48"
        width="48"
        class="hover:scale-110 transition duration-300 ease-in-out"
        alt={tech}
      />
    ))
  }
</div>
