---
import BaseLayout from "@src/layouts/BaseLayout.astro";
import ProjectHero from "@components/ProjectHero.astro";
import data from "@data/projects.json";

export async function getStaticPaths() {
    return data.projects.map(({ slug, title, technologies, summary, heroImage, details }) => {

        return {
            params: { slug },
            props: { title, technologies, summary, heroImage, details },
        };
    });
}

const { title, technologies, summary, heroImage, details } = Astro.props;
---

<BaseLayout title={`Project: ${title} | www.joshfinnie.com`}>
    <article class="prose max-w-none">
        <ProjectHero title={title} heroImage={heroImage} summary={summary} technologies={technologies} />
        <p>{details}</p>
    </article>
</BaseLayout>
